{% extends 'admin/base.html.twig' %}

{% block title %}Modification de la commande numero {{ achat.id }} {% endblock %}

{% block body %}
<div class="container">

	<h1 class="my-5">Modification de la commande N°({{ achat.id }})</h1>
	
	{{ form_start(form) }}
	
	{{ form_widget(form) }}
	
	<button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Enregistrer les modifications</button>
	
	{{ form_end(form) }}
</div>
{% endblock %}
